html {
    background-color: #1f1f14;
}

body {
    background-color: #1f1f14;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
/*    position: absolute;
    top: 0;
    bottom: 0;*/
    left: 0;
    right: 0;
    background-color:white;

    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.banner {
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-style: italic;
    padding: 10px;
    color: white;
    background-color: #5F2289;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    /*box-shadow: inset 0 -3px 0 0 #000, 0 3px 0 0 #000;*/
}

#toolbar {
    padding: 0;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color:white;
}

#pallet {
    width: 100%;
    height: 100%;
}

#wrap_video {
    position: absolute;
    background-color: black !important; /* or whatever you want */
}

#video_box {
    position:relative;
    width: 100%;
    height: 100%;
}

#video_overlays {
    position:absolute;
    width: auto;
    height: auto;
    background-color:transparent;
    z-index:300000;
    top:20px;
    right:20px;
}

#video_overlays img {
    background: url(../images/skip2.png);
    width: 246px;
    height: 80px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.last {
    float: none;
    overflow: hidden;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

.infoBox {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: 2px solid black;
}







.CSSTableGenerator {
    margin:0px;padding:0px;
    opacity: 0.4;
    transition: opacity .12s ease-in-out;
    -moz-transition: opacity .12s ease-in-out;
    -webkit-transition: opacity .12s ease-in-out;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}

.CSSTableGenerator:hover {
    opacity: 1;
}

.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#5da6ef; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#bfe0ef; }.CSSTableGenerator td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:20px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}